@mixin change-placeholder($color, $size) {
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: $color;
        font-size: $size;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
        color: $color;
        font-size: $size;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
        color: $color;
        font-size: $size;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: $color;
        font-size: $size;
    }
}

@mixin change-holder($color, $size) {
    &::-webkit-input-placeholder,
    &::-webkit-input-placeholder {
        color: $color;
        font-size: $size;
    }
    &:-moz-placeholder,
    &:-moz-placeholder {
        color: $color;
        font-size: $size;
    }
    &::-moz-placeholder,
    &::-moz-placeholder {
        color: $color;
        font-size: $size;
    }
    &:-ms-input-placeholder,
    &:-ms-input-placeholder {
        color: $color;
        font-size: $size;
    }
}