// 深红色
$lizhiColor:#c54844;
// 浅红色
$pinkColor:rgb(247, 139, 137);
$gifUrl:"http://lizhi-1251014091.cosgz.myqcloud.com/LZS/lixun/loading.gif";
// $gifUrl:"http://test.jgchen.xin/static/lixun/loading.gif";
